extends sidebar

block content
  if message
    p= message
  h1= title
  
  ul
  each author in author_list
    if (title=='Request List')
      li 
        a(href=author.url) #{author.name} 
        | (#{author.lifespan})
        |  #{author.status}
    else
      li 
        a(href=author.url) #{author.name} 
        | (#{author.lifespan})

  else
    if (username=='user')
      li There are no requests with your email
    else
      li There are none available.
