extends sidebar

block content

  h1 #{title} : #{author.name}
  p #{author.lifespan}
  p #{author.status}
  
  div(style='margin-left:20px;margin-top:20px')

    //h4 Books
    
    dl
    //p This author has no books.
      
  hr
  p
    a(href=author.url+'/approve') Approve request
  p
    a(href=author.url+'/delete') Delete request
